#body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

#statusBar {
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.66);
}

div, canvas, img {
    image-rendering: pixelated;
}

#scenery {
    height: 100%;
    width: 100%;
    position: absolute;
}

#gomez {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;
}

#clouds {
    height: 100%;
    width: 100%;
    position: absolute;
}

#cube {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;
}

#glCanvas {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;
}

#signal {
    position: absolute;
}