@font-face {
    font-family: "pixel";
    src: url(./FEZ_resources/font/pixel.ttf) format("truetype");
}

@font-face {
    font-family: "fezzy";
    src: url(./FEZ_resources/font/fezzyv2.ttf) format("truetype");
}

/* Makes the first text font switch faster by preloading font in invisible text*/
#preload-fezzy {
    opacity: 0;
    font-family: "fezzy";
    position: absolute;
}

#slideToUnlock {
    opacity: 0;
    height: 38px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18pt;
    word-spacing: 0;
    color: white;
    text-shadow: -1px -1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    1px 1px 0 black;
    -webkit-transition: opacity .5s ease-out;
}

/*Clock area*/
#timeDate {
    opacity: 0;
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: opacity .5s, -webkit-transform .4s ease-in-out;
}

/*hour + ampm*/
#hours {
    left: 5px;
    right: 0;
    height: 80px;
    top: 0;
    position: absolute;
    z-index: 1;
    text-align: center;
    font-size: 50pt;
}

#ampm {
    position: absolute;
    z-index: 1;
    font-size: 20pt;
}

#date {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: absolute;
    text-align: center;
    font-size: 14pt;
    word-spacing: 1px;
}